body {
  /* font-family: 'Montserrat', sans-serif; */
  background-color: #fff;
  /* background-image: url("../img/882391.jpg"); */

}

/* h1,th,td,p {
  background-color: rgb(255, 255, 255);
} */

.table-striped {
  display: none;
}

/* ALERT */
.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

/* HIDE UNIQUEID */
.uniqueId {
  display: none;
}

.btn-options {
  display: inline;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .btn-options {display: flex; justify-content: center;}
}

/* Auto Adding a Number to Each Row / Column */
table {
  counter-reset: rowNumber;
}

table tr>td:first-child {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

th, td {
  border: 2px solid #ddd;
}